@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Candal');
* {
    margin: 0%;
    padding: 0%;
    user-select: none;
}

a {
    font-style: inherit;
}

a:hover {
    cursor: pointer;
}

.loaded {
    filter: none;
}

.unloaded {
    filter: blur(2px);
}

#main-container {
    position: relative;
}

.page-overlay {
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: white;
}

#the-event {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-areas: "the1 the2 the3" "the4 the5 the6" "the7 the8 the9" "the10 the11 the12" "the13 the14 th15";
    background-color: #00a7e1;
}

#intro-text {
    grid-area: the5;
    font-family: 'Candal', cursive;
    font-size: 4em;
    text-align: center;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #00a7e1;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

#sub-intro-text {
    grid-area: the11;
    font-family: 'Candal', cursive;
    font-size: 0.5em;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: #17242A;
}

#down {
    height: 5vh;
    width: auto;
    grid-area: the8;
    justify-self: center;
}

#down:hover {
    cursor: pointer;
}

#down {
    filter: drop-shadow(0px 10px 10px black);
    animation: bounce 1s infinite ease;
}

@keyframes bounce {
    from {
        transform: translateY(0vh);
    }
    50% {
        transform: translateY(2vh);
    }
    to {
        transform: translateY(0vh);
    }
}

.events{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "eve1 eve1 eve2";
}  

.event1{
    grid-area: eve1;
    height: 100vh;
    display: grid;
    grid-template-columns: [startcol-eve] 1fr 5fr 1fr [endcol-eve];
    grid-template-rows: [startrow-eve] 1fr 5fr 1fr [endrow-eve];
    color: #17242A;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Candal', cursive;
    font-size: 2em;
    grid-template-areas: "ev1 ev2 ev3" "ev4 ev5 ev6" "ev7 ev8 ev9";
}

.event1 span{
    grid-area: ev5;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.event1 .particles-js-canvas-el{
    grid-column: startcol-eve / endcol-eve;
    grid-row: startrow-eve / endrow-eve;
}

#eve2{
    grid-area: eve2;
    background-color:  #00a7e1;
}

#registration{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-areas: "reg1 reg2";
}

#reg1{
    grid-area: reg1;
}

#reg2{
    grid-area: reg2;
    background-color:  #00a7e1;
}

/* #memories{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "mem1 mem2";
}

#mem1{
    grid-area: mem1;
}

#mem2{
    grid-area: mem2;
    background-color: #00a7e1;
} */

.contact-us{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: [startcol-con] 10% 65% [midcol-con] 25% [endcol-con];
    grid-template-rows: [startrow-con] 90% 10% [endrow-con];
    grid-template-areas: ". con1 con2";
    justify-items: center;
    align-items: center;
}


#contact-info{
    grid-area: con2;
    background-color: #00a7e1;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10% 75% auto;
    grid-template-areas: ". coninfo1 ." ". coninfo2 ." ". coninfo3 .";
}

#coninfo1{
    grid-area: coninfo2;
    color: white;
    justify-self: start;
    font-family: 'Candal', cursive;
    font-size: 1.5em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#coninfo2{
    color: white;
    justify-self: start;
    font-family: 'Times New Roman', cursive;
    font-size: 0.8em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.mapid {
    grid-area: con1;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 10% 75% auto;
    grid-template-areas: "mapid1" "mapid2" ".";
}

.mapid span{
    grid-area: mapid1;
    justify-self: center;
    align-self: end;
    font-family: 'Candal', cursive;
    font-size: 1.5em;
    color: #17242A;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.mapid iframe{
    grid-area: mapid2;
    position: relative;
    justify-self: center;
    align-self: center;
    height: 90%;
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.5));
    transition: 0.5s ease all;
}

.contact-us .particles-js-canvas-el{
    grid-column: startcol-con / midcol-con;
    grid-row: startrow-con / endrow-con;
}

footer {
    width: 100%;
    padding: 10px 0%;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00a7e1;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: #17242A;
}

footer img {
    height: 7.5vh;
    transition: 0.5s ease all;
}

footer img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer img:active {
    transform: scale(1);
}

footer span {
    color: white;
    font-size: 1em;
    text-align: end;
    font-family: 'Candal', cursive;
}

#foot1 {
    padding: 0% 1%;
}

#foot2 {
    padding: 0% 1%;
}

#foot3 {
    padding: 0% 1%;
}

nav {
    font-family: 'Candal', cursive;
    height: auto;
    width: 10%;
    position: fixed;
    left: 2vh;
    top: 50%;
    transform: translate(-0%, -50%);
    display: grid;
    grid-template-rows: 15vh 15vh 15vh 15vh;
    grid-template-areas: "one" "two" "three" "four";
    justify-items: center;
    align-items: center;
    z-index: 3;
}

.nav {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    position: relative;
    justify-items: center;
    align-items: center;
}

.nav img {
    height: 80%;
    width: auto;
    transition: 0.5s all;
}

#nav1 img {
    height: 90%;
}

.navimg:hover {
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transform: scale(1.2);
}

.navimg:active {
    transform: scale(1);
}

.nav p {
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    align-self: center;
}

.nav p:hover {
    cursor: pointer;
}

#nav1 {
    grid-area: one;
}

#nav2 {
    grid-area: two;
}

#nav3 {
    grid-area: three;
}

#nav4 {
    grid-area: four;
}

#menu-icon {
    grid-area: the8;
}

#body-container {
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 600px) {}

.no-display {
    display: none !important;
}

.grid-display {
    display: grid;
}

