@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Candal');
* {
    margin: 0%;
    padding: 0%;
    user-select: none;
}

a {
    font-style: inherit;
}

a:hover {
    cursor: pointer;
}

.loaded {
    filter: none;
}

.unloaded {
    filter: blur(2px);
}

#main-container {
    position: relative;
}

.page-overlay {
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: white;
}

#the-event {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-areas: "the1 the2 the3" "the4 the5 the6" "the7 the8 the9" "the10 the11 the12" "the13 the14 th15";
    background-color: #3AAFA9;
}

#intro-text {
    grid-area: the5;
    font-family: 'Candal', cursive;
    font-size: 4em;
    text-align: center;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #3AAFA9;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

#sub-intro-text {
    grid-area: the11;
    font-family: 'Candal', cursive;
    font-size: 0.5em;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: #17242A;
}

#down {
    height: 5vh;
    width: auto;
    grid-area: the8;
    justify-self: center;
}

#down:hover {
    cursor: pointer;
}

#down {
    filter: drop-shadow(0px 10px 10px black);
    animation: bounce 1s infinite ease;
}

@keyframes bounce {
    from {
        transform: translateY(0vh);
    }
    50% {
        transform: translateY(2vh);
    }
    to {
        transform: translateY(0vh);
    }
}

#memories{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "mem1 mem2";
}

#mem1{
    grid-area: mem1;
}

#mem2{
    grid-area: mem2;
    background-color: #3AAFA9;
}

#contact-us{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 65% 25%;
    grid-template-areas: ". con1 con2";
    justify-items: center;
    align-items: center;
}

#contact-info{
    grid-area: con2;
    background-color: #3AAFA9;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10% 75% *;
    grid-template-areas: ". coninfo1 ." ". coninfo2 ." ". coninfo3 .";
}

#coninfo1{
    grid-area: coninfo2;
    color: white;
    justify-self: start;
    font-family: 'Candal', cursive;
    font-size: 1.5em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#coninfo2{
    color: white;
    justify-self: start;
    font-family: 'Times New Roman', cursive;
    font-size: 0.8em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#mapid {
    grid-area: con1;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 10% 75% *;
    grid-template-areas: "mapid1" "mapid2" ".";
}

#mapid span{
    grid-area: mapid1;
    justify-self: center;
    align-self: end;
    font-family: 'Candal', cursive;
    font-size: 1.5em;
    color: #17242A;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#mapid iframe{
    grid-area: mapid2;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 90%;
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.5));
    transition: 0.5s ease all;
}

footer {
    width: 30%;
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: "copyright facebook instagram";
    justify-items: end;
    align-items: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3AAFA9;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

footer img {
    height: 7.5vh;
    transition: 0.5s ease all;
}

footer img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer img:active {
    transform: scale(1);
}

footer span {
    color: white;
    font-size: 1em;
    text-align: end;
    font-family: 'Candal', cursive;
}

#foot1 {
    grid-area: copyright;
}

#foot2 {
    grid-area: facebook;
}

#foot3 {
    grid-area: instagram;
}

nav {
    font-family: 'Candal', cursive;
    height: auto;
    width: 10%;
    position: fixed;
    left: 2vh;
    top: 50%;
    transform: translate(-0%, -50%);
    display: grid;
    grid-template-rows: 15vh 15vh 15vh 15vh;
    grid-template-areas: "one" "two" "three" "four";
    justify-items: center;
    align-items: center;
    z-index: 3;
}

.nav {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    position: relative;
    justify-items: center;
    align-items: center;
}

.nav img {
    height: 80%;
    width: auto;
    transition: 0.5s all;
}

#nav1 img {
    height: 90%;
}

.navimg:hover {
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transform: scale(1.2);
}

.navimg:active {
    transform: scale(1);
}

.nav p {
    height: 100%;
    width: 100%;
    font-size: 1em;
    text-align: center;
    align-self: center;
}

.nav p:hover {
    cursor: pointer;
}

#nav1 {
    grid-area: one;
}

#nav2 {
    grid-area: two;
}

#nav3 {
    grid-area: three;
}

#nav4 {
    grid-area: four;
}

#menu-icon {
    grid-area: the8;
}

#body-container {
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 600px) {}

.no-display {
    display: none !important;
}

.grid-display {
    display: grid;
}